<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jpyou"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jpyou"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jpyou"
        tools:targetApi="31">
        <activity
            android:name=".Nurse.NurseInterface"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorInterface"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ngaykhambenh_lichsukham"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminUpdate"
            android:exported="false" />
        <activity
            android:name=".form_dang_ky"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminListUser"
            android:parentActivityName=".Admin.AdminMenu" />
        <activity
            android:name=".Admin.AdminCreateUser"
            android:parentActivityName=".Admin.AdminMenu" />
        <activity
            android:name=".User.UserInterface"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminMenu"
            android:exported="false"
            android:parentActivityName=".Admin.AdminLogin" />
        <activity
            android:name=".ChooseRoles"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>